<div class="row " [formGroup]="vm.form">
  <section class="col-md-12"  >
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'descricao' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.descricao' name='descricao' required formControlName='descricao'    maxlength=150 autocomplete='off'/>
    </div>
  </section>

  <section class="col-md-12"  >
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'arquivo' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.arquivo' name='arquivo' required formControlName='arquivo'    maxlength=150 autocomplete='off'/>
    </div>
  </section>

</div>

