<div class="row">
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'codigoDaTurma' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.codigoDaTurma' name='codigoDaTurma' />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'nome' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.nome' name='nome' />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'dataInicio' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.dataInicio' name='dataInicio'datepicker />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'dataFim' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.dataFim' name='dataFim'datepicker />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'admTurmaId'}}</label>
      <select class='form-control'  name='admTurmaId' [(ngModel)]='vm.modelFilter.admTurmaId' datasource [dataitem]="'Participante'" [fieldFilterName]="'CodigoADM'"></select>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'statusDaTurmaId'}}</label>
      <select class='form-control'  name='statusDaTurmaId' [(ngModel)]='vm.modelFilter.statusDaTurmaId' datasource [dataitem]="'StatusDaTurma'" [fieldFilterName]="'Descricao'"></select>
    </div>
  </section>
</div>
