<div class="container mt-5">
  <header class="header text-center pt-3">
    <h1>
      <span>
        <strong>DashBoard</strong>
      </span>
    </h1>
  </header>
  <div>
    <div class="text-center jumbotron">
      <h2 class="display-3">Em breve</h2>
      <p>mais informações</p>
    </div>
  </div>
</div>


<!--<div>
  <section class="card">
    <header class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <strong class="header text-center pt-3">Lista de Chamada</strong>
        </div>
      </div>
    </header>
    <div class="card-body">
      <form class="row">
        <div class="col-md-12 text-center jumbotron">
          <input class="form-control" type="text" placeholder="Digite aqui o codigo de verificacao" />
        </div>
      </form>
    </div>
    <footer class="card-footer text-right">
      <button type="submit" class="btn btn-success" (click)="nextRegisterStepValidationPreStep(2)">Verificar</button>
    </footer>
  </section>
</div>-->
