<div class="container mt-5">
  <header class="header text-center pt-3">
    <h1>
      <span>
        <strong>DashBoard</strong>
      </span>
    </h1>
  </header>
  <div>
    <div class="text-center jumbotron">
      <h2 class="display-3">Em breve</h2>
      <p>mais informações</p>
    </div>
  </div>
</div>

<!--<div class="row">
  <section class="container-fluid col-4">
    <section class="card">
      <header class="card-header">
        <div class="row align-items-center">
          <div class="col">
            Titulo
          </div>
          <div class="col text-right">
            Botao para analise
          </div>
        </div>
      </header>
      <article class="card-body">
        LISTA DE ITENS
      </article>
      <footer class="card-footer">
        BOTAO PARA ATUALIZAR
      </footer>
    </section>
  </section>
  <section class="container-fluid col-4">
    <section class="card">
      <header class="card-header">
        <div class="row align-items-center">
          <div class="col">
            Titulo
          </div>
          <div class="col text-right">
            Botao para analise
          </div>
        </div>
      </header>
      <article class="card-body">
        LISTA DE ITENS
      </article>
      <footer class="card-footer">
        BOTAO PARA ATUALIZAR
      </footer>
    </section>
  </section>
  <section class="container-fluid col-4">
    <section class="card">
      <header class="card-header">
        <div class="row align-items-center">
          <div class="col">
            Titulo
          </div>
          <div class="col text-right">
            Botao para analise
          </div>
        </div>
      </header>
      <article class="card-body">
        LISTA DE ITENS
      </article>
      <footer class="card-footer">
        BOTAO PARA ATUALIZAR
      </footer>
    </section>
  </section>
</div>-->
